
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("../../../fonts/Inter-BoldItalic.woff2") format("woff2"),
       url("../../../fonts/Inter-BoldItalic.woff") format("woff");
}
