.lead {
  padding: 56px 48px 0;
  max-width: 984px;
  margin: 0 auto 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1025px) {
  .lead {
    padding: 48px 48px 0;
  }
}

@media screen and (max-width: 800px) {
  .lead {
    padding: 48px 0 0;
  }
}

@media screen and (max-width: 400px) {
  .lead {
    padding: 48px 0 0;
  }
}
