.place__paragraph {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.61;
  margin: 0 0 26px 0;
}

@media screen and (max-width: 900px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 1.62;
  }
}

@media screen and (max-width: 625px) {
  .place__paragraph {
    padding: 0 16px 0;
  }
}

.place__paragraph:nth-last-of-type(1) {
  margin: 0;
}
