.lead__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  margin: 32px 0 0;
  text-align: center;
  max-width: 640px;
}

@media screen and (max-width: 760px) {
  .lead__subtitle  {
    font-size: 16px;
    line-height: 1.25;
    margin: 16px 0 0;
    max-width: 288px;
  }
}
