.place {
  padding-top: 80px;
  color: #FFFFFF;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-areas:
  'title website'
  'image article';
  column-gap: 40px;
}

@media screen and (max-width: 1025px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 800px) {
  .place {
    column-gap: 28px;
    padding-top: 73px;
  }
}

@media screen and (max-width: 625px) {
  .place {
    column-gap: 28px;
    padding-top: 50px;
    grid-template-columns: 1fr;
    grid-template-areas:
    'title'
    'website'
    'image'
    'article';
  }
}
