.intro__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.1;
  margin: 0;
  max-width: 690px;
}

@media screen and (max-width: 400px) {
  .intro__title {
    font-size: 32px;
  }
}
